.cache
.config
.ipython
.jupyter
.local
.npm
.nv
.vscode-server
./input/code/data
**/.pyc
**/.ipynb_checkpoints
input/code/data
input/code/images
.git
.bash_history
.gitconfig
.profile
.python_history
.python_history
.viminfo
.wget-hsts
